<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/style.css">

    <title>Lista Telefônica</title>

    <script src="angular.js"></script>

    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.nameAplication = "Lista Telefônica";
            $scope.contatos = [
                { nome: "Pedro", telefone: "999997777", cor: "red" },
                { nome: "João", telefone: "999997777", cor: "green" },
                { nome: "Tiago", telefone: "988886666", cor: "blue" },
            ];

            $scope.operadoras = [
                { nome: "Oi", codigo: 14, categoria: "Celular" },
                { nome: "Vivo", codigo: 15, categoria: "Celular" },
                { nome: "Tim", codigo: 16, categoria: "Celular" },
                { nome: "Claro/Net", codigo: 47, categoria: "Fixo" },
            ];

            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            }

            $scope.apagerContato = function (contatos) {
                $scope.contatos = contatos.filter((contato) => {
                    if (!contato.selecionado) {
                        return contato;
                    }
                });
            };

            $scope.existeSelecionado = function (contatos) {
                return contatos.some((contato) => {
                    return contato.selecionado;
                });
            }

        });

    </script>
</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="container">
        <div class="jumbotron p-5 bg-light justify-content-center">
            <h1 class="display-3 text-center" ng-bind="nameAplication"></h1>
            <table ng-show="contatos.length > 0" class="table table-striped responsive mb-1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Operadora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{selected: contato.selecionado}" ng-repeat="contato in contatos">
                        <td>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" ng-model="contato.selecionado"
                                    value="checkedValue">
                            </div>
                        </td>
                        <td scope="row">{{contato.nome}}</td>
                        <td scope="row">{{contato.telefone}}</td>
                        <td scope="row">{{contato.operadora.nome}}</td>
                    </tr>
                </tbody>
            </table>

            <hr />

            <form name="contatoForm">
                <div class="form-group">
                    <input class="form-control mb-2" type="text" ng-model="contato.nome" name="nome" placeholder="Nome"
                        ng-required="true" />
                    <input class="form-control mb-2" type="text" ng-model="contato.telefone" name="telefone"
                        placeholder="Telefone" ng-required="true" />
                    <select class="form-control form-select" ng-model="contato.operadora"
                        aria-label="Selecione uma operadora"
                        ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                        <option value="">Selecione uma operadora.</option>
                    </select>
                </div>
            </form>

            <div class="alert alert-danger mt-2" ng-show="contatoForm.nome.$invalid" role="alert">
                <strong>Atenção:</strong>
                <p class="alert-headingS mb-0">Preencha as informações do campo nome.</p>
            </div>

            <div class="alert alert-danger mt-2" ng-show="contatoForm.telefone.$invalid" role="alert">
                <strong>Atenção:</strong>
                <p class="alert-headingS mb-0">Preencha as informações do campo telefone.</p>
            </div>

            <div class="form-group mt-2 d-flex justify-content-evenly">
                <button type="submit" class="btn btn-primary" ng-click="adicionarContato(contato)"
                    ng-disabled="contatoForm.$invalid">Adicionar</button>
                <button type="submit" class="btn btn-danger" ng-hide="!existeSelecionado(contatos)"
                    ng-disabled="apagarContato(contatos)">Remover</button>

            </div>
            <div ng-include="'footer.html'"></div>
        </div>
    </div>
</body>

</html>