<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/style.css">

    <title>Lista Telefônica</title>

    <script src="angular.js"></script>

    <script>
        angular.module("listaTelefonica",[]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope){
            $scope.nameAplication = "Lista Telefônica";
            $scope.contatos = [ 
                {nome:"Pedro", telefone:"999997777"},
                {nome:"João", telefone:"999997777"},
                {nome:"Tiago", telefone:"988886666"},
            ];

            $scope.adicionarContato = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            }
        });

    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="container">
        <div class="jumbotron p-5 bg-light">
            <h1 class="display-3 text-center" ng-bind="nameAplication"></h1>
            <table class="table table-responsive mb-1">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contato in contatos">
                        <td scope="row">{{contato.nome}}</td>
                        <td scope="row">{{contato.telefone}}</td>
                    </tr>
                </tbody>
            </table>

            <hr/>

            <div class="form-group">
                <input class="form-control mb-2" type="text" ng-model="contato.nome" placeholder="Nome"/>
                <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />
            </div>

            <div class="form-group mt-2 d-flex justify-content-evenly">
                <button type="submit" class="btn btn-primary" ng-click="adicionarContato(contato)">Adicionar</button>
                <button type="submit" class="btn btn-danger" ng-click="adicionarContato(contato)">Remover</button>

            </div>
                
            
        </div>
    </div>
</body>
</html>